<html>
<head>
	<title>Art-Battle Editor</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	
	<!-- Date picker -->
	<link id="bsdp-css" href="/static/datepicker3.css" rel="stylesheet">
	
	<style type="text/css">
		.table tbody>tr>td.verta {
			vertical-align: middle;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="page-header">
	<div class="form-horizontal" id="form_manager">
		<div class="form-group">
			<div class="form-horizontal col-sm-6">
				<div class="form-group">
					<label for="dropdown_date" class="col-sm-4 control-label">Open date</label>
					<div class="dropdown col-sm-5">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu_date" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%" {% if not dates %}disabled{% endif %}>
							<span id="dropdownMenu_date_label" style="float:left">Select date...</span>
							<span class="caret" style="float:right; margin-top:0.5em"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu_date" style="width:100%">
							{% for ab in dates %}
							<li><a href="#">{{ab.date}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<form class="form-horizontal col-sm-6" method="POST" action="create">
				<div class="form-group">
					<label for="datepicker" class="col-sm-4 control-label">Create new</label>
					<div class="col-sm-6">
						<div class="input-group">
						<input type="text" class="form-control" id="datepicker" name="date" placeholder="Set date..."></input>
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div></div>
					<input type="submit" class="btn btn-success col-sm-2" id="btn_create" value="Create"></input>
				</div>
			</form>
		</div>
	</div></div>
	{% if artbattle %}
	<div class="form-horizontal" id="form_editor">
		<div class="form-group">
			<h1>Art-Battle {{artbattle.date}}
				<button type="button" class="btn btn-danger col-sm-1" id="btn_delete" onclick="deleteDate()" style="float:right">Delete</button>
			</h1>
		</div>
		<hr class="form-group">
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-primary" style="margin-right:0.5em" id="btn_announce" onclick="create_post('announce')" {% if artbattle.announcement_post_id %}disabled{% endif %}>Announce{% if artbattle.announcement_post_id %} <i class="glyphicon glyphicon-ok"></i>{% endif %}</button>
				<button type="button" class="btn btn-primary" style="margin-right:0.5em" id="btn_create_poll" onclick="create_post('create_poll')" {% if artbattle.poll_post_id %}disabled{% endif %}>Create Poll{% if artbattle.poll_post_id %} <i class="glyphicon glyphicon-ok"></i>{% endif %}</button>
				<button type="button" class="btn btn-primary" style="margin-right:0.5em" id="btn_count_votes" onclick="create_post('count_votes')" {% if artbattle.result_post_id %}disabled{% endif %}>Count Votes{% if artbattle.result_post_id %} <i class="glyphicon glyphicon-ok"></i>{% endif %}</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="theme">Theme</label>
			<div class="col-sm-9"><input type="text" class="form-control" value="{{artbattle.theme or ''}}" id="theme"></input></div>
			<button type="button" class="btn btn-primary col-sm-1" id="btn_theme">Set</button>
		</div>
		<div class="form-group">
			<div class="form-horizontal col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label" for="announcement_post_id">Announcement post ID</label>
					<div class="col-sm-6"><input type="text" class="form-control" value="{{artbattle.announcement_post_id or ''}}" id="announcement_post_id"></input></div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="battle_post_id">Battle post ID</label>
					<div class="col-sm-6"><input type="text" class="form-control" value="{{artbattle.battle_post_id or ''}}" id="battle_post_id"></input></div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="poll_post_id">Poll post ID</label>
					<div class="col-sm-6"><input type="text" class="form-control" value="{{artbattle.poll_post_id or ''}}" id="poll_post_id"></input></div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="result_post_id">Results post ID</label>
					<div class="col-sm-6"><input type="text" class="form-control" value="{{artbattle.result_post_id or ''}}" id="result_post_id"></input></div>
				</div>
			</div>
			<div class="form-horizontal col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label" for="cover_art_url">Cover art URL</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" class="form-control" value="{{artbattle.cover_art_url or ''}}" id="cover_art_url"></input>
							<span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="cover_art_author">Cover art author</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" class="form-control" value="{% if artbattle.cover_art_author %}{{artbattle.cover_art_author.id()}}{% endif %}" id="cover_art_author"></input>
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="cover_art_source_url">Cover art source</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" class="form-control" value="{{artbattle.cover_art_source_url or ''}}" id="cover_art_source_url"></input>
							<span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-6">
						<button type="button" class="btn btn-default" id="btn_save" onclick='save()'>Save</button>
					</div>
				</div>
			</div>
		</div>
		<hr class="form-group">
		<h2>Participants</h2>
		<div class="form-group">
		<table class="table" id="table_participants">
			<thead><tr><th>Time</th><th>Name</th><th>Art URL</th><th>No.</th><th>Votes</th><th>Preview</th><th>Approve</th></tr></thead>
			<tbody>
				{% for p in artbattle.participants %}
				<tr>
					<td class="verta">{{p.time.strftime('%H:%M')}}</td>
					<td class="verta"><a href="http://tabun.everypony.ru/profile/{{p.user.id()}}/" target="_blank">{{p.user.id()}}</a></td>
					<td class="verta"><a href="{{p.art_url}}" target="_blank">{{p.art_url}}</a></td>
					<td class="verta">{{p.number or '-'}}</td>
					<td class="verta">{% if p.votes==None %}-{% else %}{{p.votes}}{% endif %}</td>
					<td class="verta"><img src="{{p.art_preview_url}}"></img></td>
					<td class="verta">
						{% if p.status == 1 %}
						<i class="glyphicon glyphicon-ok"></i>
						{% elif p.status == 2 %}
						<i class="glyphicon glyphicon-ban-circle"></i>
						{% else %}
						<div class="btn-group">
							<button type="button" class="btn btn-success" style="height:40px" onclick="review_participant('{{p.art_url}}', 'approve')"><i class="glyphicon glyphicon-ok"></i></button>
							<button type="button" class="btn btn-danger" style="height:40px" onclick="review_participant('{{p.art_url}}', 'decline')"><i class="glyphicon glyphicon-ban-circle"></i></button>
						</div>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
				<tr onclick="set_participant_time_now()">
					<td class="col-md-1"><input type="text" class="form-control" id="p_time"></input></td>
					<td><div class="input-group">
						<input type="text" class="form-control" id="p_username"></input>
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					</div></td>
					<td><div class="input-group">
						<input type="text" class="form-control" id="p_art_url"></input>
						<span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
					</div></td>
					<td><button type="button" class="btn btn-default" onclick="add_participant()">Add</button></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	{% endif %}
</div>

<!-- Placed at the end of document so that the page loads faster -->

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/static/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
	P_STATUS_PENDING = 0;
	P_STATUS_APPROVED = 1;
	P_STATUS_DECLINED = 2; //Broke some of the rules
	P_STATUS_LATE = 3;

	date = '{% if artbattle %}{{artbattle.date}}{% endif %}';
	
	// Prevent creating new Art-Battle on a date of another Art-Battle:
	function checkCreateButtonEnabled() {
		if ($('#datepicker').val() == '' || $('#datepicker').val() == date) {
			$('#btn_create').attr('disabled', true);
		} else {
			$('#btn_create').removeAttr('disabled');
		}
	}
	
	$(document).ready(function () {
		$('#datepicker').datepicker({
			format: "yyyy-mm-dd",
			todayHighlight: true,
			weekStart: 1
		});
		checkCreateButtonEnabled();
	});
	
	$('.dropdown-menu li > a').click(function(e){
		location.href = 'edit?date=' + this.innerHTML;
		//$('#dropdownMenu_date_label').text(this.innerHTML); // BIG KLUDGE!
		//$('#input_open_date').val(this.innerHTML);
		//$('#btn_open').removeAttr('disabled');
	});
	$('#datepicker').on('changeDate', checkCreateButtonEnabled);
	
	function deleteDate() {
		$.ajax({
			url: 'delete?date=' + date,
			type: 'DELETE',
			success: function(result) {
				location.href = 'edit';
			}
		});
	}
	
	// A convenience function for making AJAX 'POST' requests.
	// Reload page on success, show alert on error.
	function post(url, data) {
		$.ajax({
			url: url,
			type: 'POST',
			data: data,
			success: function(result) {
				location.reload();
			},
			error: function(result) {
				if (result.responseText) {
					alert(result.responseText);
				}
			}
		});
	}
	
	function create_post(kind) {
		post(kind, {date: date})
	}
	
	function save() {
		post('update', {
			date: date,
			announcement_post_id: $('#announcement_post_id').val(),
			battle_post_id: $('#battle_post_id').val(),
			poll_post_id: $('#poll_post_id').val(),
			result_post_id: $('#result_post_id').val(),
			cover_art_url: $('#cover_art_url').val(),
			cover_art_author: $('#cover_art_author').val(),
			cover_art_source_url: $('#cover_art_source_url').val()
		});
	}
	
	function add_participant() {
		post('participant/add', {
			date: date,
			time: $('#p_time').val(),
			username: $('#p_username').val(),
			art_url: $('#p_art_url').val()
		});
	}
	function set_participant_time_now() {
		if ($('#p_time').val() == '') {
			now = new Date();
			$('#p_time').val(now.getHours() + ':' + now.getMinutes());
		}
	}
	function review_participant(art_url, verdict) {
		post('participant/review', {
			date: date,
			art_url: art_url,
			verdict: verdict
		});
	}
	
	//TODO: fix smaller screen layout.
</script>
</body>
</html>