<html>
<head>
	<title>Art-Battle Editor</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	
	<!-- Date picker -->
	<link id="bsdp-css" href="/static/datepicker3.css" rel="stylesheet">
	
	<style type="text/css">
		.table tbody>tr>td.verta {
			vertical-align: middle;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="page-header">
	<div class="form-horizontal" id="form_manager">
		<div class="form-group">
			<div class="form-horizontal col-sm-6">
				<div class="form-group">
					<label for="dropdown_date" class="col-sm-4 control-label">Open date</label>
					<div class="dropdown col-sm-5">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu_date" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%" {% if not dates %}disabled{% endif %}>
							<span id="dropdownMenu_date_label" style="float:left">Select date...</span>
							<span class="caret" style="float:right; margin-top:0.5em"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu_date" style="width:100%">
							{% for ab in dates %}
							<li><a href="#">{{ab.date}}</a></li>
							{% endfor %}
						</ul>
					</div>
					<button class="btn btn-default" type="button" id="btn_open_current" onclick="open_current()">Open current</button>
				</div>
			</div>
			<form class="form-horizontal col-sm-6" method="POST" action="create">
				<div class="form-group">
					<label for="datepicker" class="col-sm-4 control-label">Create new</label>
					<div class="col-sm-6">
						<div class="input-group">
						<input type="text" class="form-control" id="datepicker" name="date" placeholder="Set date..."></input>
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div></div>
					<input type="submit" class="btn btn-success col-sm-2" id="btn_create" value="Create"></input>
				</div>
			</form>
			<div class="col-sm-offset-2 col-sm-10">
				<a href="/artbattle">Settings</a>
			</div>
		</div>
	</div></div>
	{% if artbattle %}
	<div class="form-horizontal" id="form_editor">
		<div class="form-group">
			<h1>Art-Battle {{artbattle.date}}
				<button type="button" class="btn btn-default" id="btn_make_current" onclick="make_current()">Make current</button>
				<button type="button" class="btn btn-danger" id="btn_delete" onclick="delete_date()" style="float:right">Delete</button>
			</h1>
		</div>
		<hr class="form-group">
		<div class="form-group">
			<label class="col-sm-2 control-label">Post</label>
			<div class="col-sm-10">
				<button type="button" class="btn btn-primary" style="margin-right:0.5em" id="btn_announce" onclick="create_post('post_announcement')">Announcement{% if artbattle.announcement_post_id %} <i class="glyphicon glyphicon-ok"></i>{% endif %}</button>
				<button type="button" class="btn btn-primary" style="margin-right:0.5em" id="btn_post_battle" onclick="create_post('post_battle')">Battle{% if artbattle.battle_post_id %} <i class="glyphicon glyphicon-ok"></i>{% endif %}</button>
				<button type="button" class="btn btn-primary" style="margin-right:0.5em" id="btn_create_poll" onclick="create_post('post_poll')">Poll{% if artbattle.poll_post_id %} <i class="glyphicon glyphicon-ok"></i>{% endif %}</button>
				<button type="button" class="btn btn-primary" style="margin-right:0.5em" id="btn_count_votes" onclick="create_post('count_votes')">Results{% if artbattle.result_post_id %} <i class="glyphicon glyphicon-ok"></i>{% endif %}</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Phase</label>
			<div class="col-sm-10">
				<label class="radio-inline">
					<input type="radio" name="phase" id="phase_0" value="0"></input> Upcoming
				</label>
				<label class="radio-inline">
					<input type="radio" name="phase" id="phase_1" value="1"></input> Announced
				</label>
				<label class="radio-inline">
					<input type="radio" name="phase" id="phase_2" value="2"></input> Prepared
				</label>
				<label class="radio-inline">
					<input type="radio" name="phase" id="phase_3" value="3"></input> Battle on
				</label>
				<label class="radio-inline">
					<input type="radio" name="phase" id="phase_4" value="4"></input> Review
				</label>
				<label class="radio-inline">
					<input type="radio" name="phase" id="phase_5" value="5"></input> Voting
				</label>
				<label class="radio-inline">
					<input type="radio" name="phase" id="phase_6" value="6"></input> Finished
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="theme">Theme</label>
			<div class="col-sm-9"><input type="text" class="form-control" value="{{artbattle.theme or ''}}" id="theme"></input></div>
			<button type="button" class="btn btn-primary col-sm-1" id="btn_theme" onclick="set_theme()">Set & begin</button>
		</div>
		<div class="form-group">
			<div class="form-horizontal col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label" for="announcement_post_id">Announcement post ID</label>
					<div class="col-sm-6"><input type="text" class="form-control" value="{{artbattle.announcement_post_id or ''}}" id="announcement_post_id"></input></div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="battle_post_id">Battle post ID</label>
					<div class="col-sm-6"><input type="text" class="form-control" value="{{artbattle.battle_post_id or ''}}" id="battle_post_id"></input></div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="poll_post_id">Poll post ID</label>
					<div class="col-sm-6"><input type="text" class="form-control" value="{{artbattle.poll_post_id or ''}}" id="poll_post_id"></input></div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="result_post_id">Results post ID</label>
					<div class="col-sm-6"><input type="text" class="form-control" value="{{artbattle.result_post_id or ''}}" id="result_post_id"></input></div>
				</div>
			</div>
			<div class="form-horizontal col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label" for="cover_art_url">Cover art URL</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" class="form-control" value="{{artbattle.cover_art_url or ''}}" id="cover_art_url"></input>
							<span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="cover_art_author">Cover art author</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" class="form-control" value="{% if artbattle.cover_art_author %}{{artbattle.cover_art_author.id()}}{% endif %}" id="cover_art_author"></input>
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label" for="cover_art_source_url">Cover art source</label>
					<div class="col-sm-6">
						<div class="input-group">
							<input type="text" class="form-control" value="{{artbattle.cover_art_source_url or ''}}" id="cover_art_source_url"></input>
							<span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-6">
						<button type="button" class="btn btn-default" id="btn_save" onclick='save()'>Save</button>
					</div>
				</div>
			</div>
		</div>
		<hr class="form-group">
		<div class="form-group">
			<div class="col-md-2">
				<h2>Participants</h2>
			</div>
			{% if edit_participants %}
			<div class="col-md-2">
				<button type="button" class="btn btn-primary" id="btn_save_p" style="margin-top:20px" onclick="save_participants()">Save</button>
			</div>
			{% else %}
			<div class="col-md-2">
				<button type="button" class="btn btn-default" id="btn_edit_p" style="margin-top:20px" onclick="edit_participants()">Edit</button>
			</div>
			{% endif %}
		</div>
		<div class="form-group">
		{% if edit_participants %}
		<table class="table" id="table_edit_participants">
			<thead><tr><th>Time</th><th>Name</th><th>Art URL</th><th>No.</th><th>Preview</th><th>Votes</th><th>Status</th><th>Delete</th></tr></thead>
			<tbody>
				{% set i = 0 %}
				{% for p in artbattle.participants %}
				<tr>
					<td class="verta col-md-1"><input id="p_time_{{i}}" type="text" class="form-control" value="{{p.local_time().strftime('%H:%M')}}"></input></td>
					<td class="verta col-md-2"><div class="input-group">
						<input type="text" class="form-control" id="p_username_{{i}}" value="{{p.user.id()}}"></input>
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					</div></td>
					<td class="verta"><div class="input-group">
						<input type="text" class="form-control" id="p_art_url_{{i}}" value="{{p.art_url}}"></input>
						<span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
					</div></td>
					<td class="verta" style="width:60px"><input id="p_number_{{i}}" type="text" class="form-control" value="{{p.number or '-'}}"></input></td>
					<td class="verta"><div class="input-group">
						<input type="text" class="form-control" id="p_art_preview_url_{{i}}" value="{{p.art_preview_url}}"></input>
						<span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
					</div></td>
					<td class="verta" style="width:60px"><input id="p_votes_{{i}}" type="text" class="form-control" value="{{p.votes}}"></input></td>
					<td class="verta">
						<select id="p_status_{{i}}" class="p_status_select" to_select="{{p.status}}">
							<option value="0">Pending</option>
							<option value="1">Approved</option>
							<option value="2">Declined</option>
							<option value="3">Late</option>
							<option value="4">Disqualified</option>
						</select>
					</td>
					<td class="verta"><input id="p_delete_{{i}}" type="checkbox"></input></td>
				</tr>
				{% set i = i + 1 %}
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<table class="table" id="table_participants">
			<thead><tr><th>Time</th><th>Name</th><th>Art URL</th><th>Status</th><th>No.</th><th>Preview</th><th>Votes</th></tr></thead>
			<tbody>
				{% for p in artbattle.participants %}
				<tr>
					<td class="verta col-md-1">{{p.local_time().strftime('%H:%M')}}</td>
					<td class="verta"><a href="http://tabun.everypony.ru/profile/{{p.user.id()}}/" target="_blank">{{p.user.id()}}</a></td>
					<td class="verta"><a href="{{p.art_url}}" target="_blank">{{p.art_url}}</a></td>
					<td class="verta">
						{% if p.status == 1 %}
						<i class="glyphicon glyphicon-ok"></i>
						{% elif p.status == 2 %}
						<i class="glyphicon glyphicon-ban-circle"></i>
						{% elif p.status == 3 %}
						<i class="glyphicon glyphicon-time"></i>
						{% elif p.status == 4 %}
						<i class="glyphicon glyphicon-thumbs-down"></i>
						{% elif p.status == 0 %}
						<div class="btn-group" style="width:80px">
							<button type="button" class="btn btn-success" style="height:40px" onclick="review_participant('{{p.art_url}}', 'approve')"><i class="glyphicon glyphicon-ok"></i></button>
							<button type="button" class="btn btn-danger" style="height:40px" onclick="review_participant('{{p.art_url}}', 'decline')"><i class="glyphicon glyphicon-ban-circle"></i></button>
						</div>
						{% endif %}
					</td>
					<td class="verta">{{p.number or '-'}}</td>
					<td class="verta"><img src="{{p.art_preview_url}}"></img></td>
					<td class="verta col-md-2">{% if p.votes==None %}-{% elif artbattle.total_votes %}
						<div class="progress">
							{% set percent = p.votes / artbattle.total_votes * 100 %}
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{p.votes}}" aria-valuemin="0" aria-valuemax="{{artbattle.total_votes}}" style="width:{{percent}}%">
							<span>{{p.votes}}</span>
							</div>
						</div>
						{% else %}{{p.votes}}{% endif %}
					</td>
				</tr>
				{% endfor %}
				<tr onclick="set_participant_time_now()">
					<td class="col-md-1"><input type="text" class="form-control" id="p_time"></input></td>
					<td><div class="input-group">
						<input type="text" class="form-control" id="p_username"></input>
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					</div></td>
					<td><div class="input-group">
						<input type="text" class="form-control" id="p_art_url"></input>
						<span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
					</div></td>
					<td><button type="button" class="btn btn-default" onclick="add_participant()">Add</button></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		{% endif %}
		</div>
	</div>
	{% endif %}
</div>

<!-- Placed at the end of document so that the page loads faster -->

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/static/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
	const P_STATUS_PENDING = 0;
	const P_STATUS_APPROVED = 1;
	const P_STATUS_DECLINED = 2; // Completely denied because broke some of the strict rules: i.e. gore/vulgar content
	const P_STATUS_LATE = 3;
	const P_STATUS_DISQUALIFIED = 4; // Broke some of the less rules: i.e. self-deanonymized

	const date = '{% if artbattle %}{{artbattle.date}}{% endif %}';
	const total_participants = {% if artbattle %}{{artbattle.participants|length}}{% else %}0{% endif %};
	
	// Prevent creating new Art-Battle on a date of another Art-Battle:
	function checkCreateButtonEnabled() {
		if ($('#datepicker').val() == '' || $('#datepicker').val() == date) {
			$('#btn_create').attr('disabled', true);
		} else {
			$('#btn_create').removeAttr('disabled');
		}
	}
	
	$(document).ready(function () {
		$('#datepicker').datepicker({
			format: "yyyy-mm-dd",
			todayHighlight: true,
			weekStart: 1
		});
		
		// Disable the "Create" button because at this point empty date is selected:
		checkCreateButtonEnabled();
		
		{% if artbattle %}
		// Set active phase:
		$('input:radio[name=phase][value={{artbattle.phase}}]').prop('checked', true);
		{% endif %}
		
		{% if edit_participants %}
		// Select current participant statuses
		$('.p_status_select').each(function () {
			$(this).val($(this).attr('to_select'));
		});
		{% endif %}
	});
	
	$('.dropdown-menu li > a').click(function(e){
		location.href = 'edit?date=' + this.innerHTML;
		//$('#dropdownMenu_date_label').text(this.innerHTML); // BIG KLUDGE!
		//$('#input_open_date').val(this.innerHTML);
		//$('#btn_open').removeAttr('disabled');
	});
	$('#datepicker').on('changeDate', checkCreateButtonEnabled);
	// Assuming all buttons have loading state
	$('.btn:not(.dropdown-toggle)').on('click', function(){
		$(this).button('loading');
	});
	
	function delete_date() {
		$.ajax({
			url: 'delete?date=' + date,
			type: 'DELETE',
			success: function(result) {
				location.href = 'edit';
			}
		});
	}
	
	// A convenience function for making AJAX 'POST' requests.
	// Reload page on success, show alert on error.
	function post(url, data) {
		$.ajax({
			url: url,
			type: 'POST',
			data: data,
			success: function(result) {
				location.reload();
			},
			error: function(result) {
				if (result.responseText) {
					alert(result.responseText);
				}
			},
			complete: function() {
				$('.btn').button('reset');
			}
		});
	}
	
	function create_post(kind) {
		post(kind, {date: date})
	}
	
	function save() {
		post('update', {
			date: date,
			phase: $('input:radio[name=phase]:checked').val(),
			theme: $('#theme').val(),
			announcement_post_id: $('#announcement_post_id').val(),
			battle_post_id: $('#battle_post_id').val(),
			poll_post_id: $('#poll_post_id').val(),
			result_post_id: $('#result_post_id').val(),
			cover_art_url: $('#cover_art_url').val(),
			cover_art_author: $('#cover_art_author').val(),
			cover_art_source_url: $('#cover_art_source_url').val()
		});
	}
	
	function add_participant() {
		post('participant/add', {
			date: date,
			time: $('#p_time').val(),
			username: $('#p_username').val(),
			art_url: $('#p_art_url').val()
		});
	}
	function set_participant_time_now() {
		if ($('#p_time').val() == '') {
			now = new Date();
			$('#p_time').val(now.getHours() + ':' + now.getMinutes());
		}
	}
	function review_participant(art_url, verdict) {
		post('participant/review', {
			date: date,
			art_url: art_url,
			verdict: verdict
		});
	}
	function edit_participants() {
		location.href += '&edit_participants';
	}
	function save_participants() {
		var participants = [];
		for (var i = 0; i < total_participants; i++) {
			participants[i] = {
				time: $('#p_time_' + i).val(),
				username: $('#p_username_' + i).val(),
				art_url: $('#p_art_url_' + i).val(),
				art_preview_url: $('#p_art_preview_url_' + i).val(),
				number: $('#p_number_' + i).val(),
				votes: $('#p_votes_' + i).val(),
				status: $('#p_status_' + i).val(),
				delete: $('#p_delete_' + i).prop('checked')
			}
		}
		$.ajax({
			url: 'participant/edit',
			type: 'POST',
			data: {
				date: date,
				participants: JSON.stringify(participants, null)
			},
			success: function(result) {
				location.href = 'edit?date=' + date;
			},
			error: function(result) {
				if (result.responseText) {
					alert(result.responseText);
				}
			},
			complete: function() {
				$('.btn').button('reset');
			}
		});
	}
	
	function set_theme() {
		post('set_theme', {date:date, theme: $('#theme').val()});
	}
	
	function open_current() {
		location.href = 'current';
	}
	function make_current() {
		$.ajax({
			url: 'current',
			method: 'POST',
			data: {date: date},
			complete: function() {
				$('#btn_make_current').button('reset');
			}
		});
	}
	
	//TODO: fix smaller screen layout.
</script>
</body>
</html>