{% if cover_art_url %}<img src="{{cover_art_url}}"/>

{% if cover_art_author %}Большое спасибо автору обложки - <ls user="{{cover_art_author.id()}}" />.
{% elif cover_art_source_url %}Большое спасибо <a href="{{cover_art_source_url}}">автору рисунка</a>, использованного в качестве обложки.
{% endif %}
{% endif %}

Сегодня в <strong>20:00</strong> начнётся Арт-Баттл, и в этом же посте будет объявлена тема для рисования. На рисование вам будет выделено <strong>2 часа</strong>. По окончании вам будет дано 15 минут на то, чтобы отправить рисунок мне в Личные Сообщения с темой "Арт-Баттл". После этого я выложу голосование, в котором и будет определяться лучший рисунок.

<span class="spoiler"><span class="spoiler-title" onclick="return true;">Правила для работ участников</span><span class="spoiler-body">1. Работы с рейтингом +18 и выше, расчленёнка, порнография, оскорбляющие жителей табуна, запрещены к участию.
2. Запрещена срисовка, обводка и перекраска чужих рисунков, а также использование элементов готовых работ.
3. Запрещены поясняющие надписи, диалоги и прочие текстовые описания на рисунке, если только они не являются частью композиции (плакаты, вывески, указатели и т.п.)
4. Сохранять анонимность своих работ, то есть никоим образом не показывать какая работа является вашей в голосовании. Также нельзя выкладывать работу на сторонних сайтах до окончания голосования, если вас можно идентифицировать на этом сайте.</span></span>

<a href="http://tabun.everypony.ru/talk/add/?talk_users={{admin_login}}&talk_title=Арт-Баттл%20{{date}}">Отправить работу</a>

<h5>Начало Арт-Баттла: в 20:00 по московскому времени.
Прием работ: до 22:15 включительно.
Тема Арт-Баттла: {% if theme %}{{theme}}{% else %}???{% endif %}</h5>