{% if cover_art_url %}<img src="{{ cover_art_url }}"/>

{% if cover_art_author %}Большое спасибо автору обложки - <ls user="{{cover_art_author.id()}}" />.
{% elif cover_art_source_url %}Большое спасибо <a href="{{cover_art_source_url}}">автору рисунка</a>, использованного в качестве обложки.
{% endif %}
{% endif %}

{{date|spell_next_date|capitalize}} состоится конкурс художников, известный как Арт-Баттл. За два часа до его начала я создам пост-напоминание, и в этом же посте будет объявлена тема для рисования. На рисование вам будет выделено 2 часа. По окончанию вам будет дано 15 минут на то, чтобы отправить рисунок мне в Личные Сообщения с темой "Арт-Баттл {{date}}". После этого же я выложу голосование, в котором и будет определяться лучший рисунок.

<h5>Арт-Баттл начнется {% if tomorrow %}завтра{% else %}{{date|spell_next_date}}{% endif %} в 20:00 по московскому времени.</h5>